

<div class="thumb-wrapper"> 
    <div class="img-box" >
        <a [routerLink]="['/products',product.id]" ><img [src]="product.image" class="img-responsive img-fluid" alt=""></a>
        
    </div>
    <div class="thumb-content">
        <a [routerLink]="['/products',product.id]"><h4>{{ product.title | uppercase }}</h4></a>
        
        <p class="item-price">
            <s>€400.00</s> 
            <br> <span>{{ product.price | currency:'EUR' }}</span>
        </p>
        <div class="star-rating">
            <ul class="list-inline">
                <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                <li class="list-inline-item"><mat-icon>star</mat-icon></li>
                <li class="list-inline-item"><mat-icon>star</mat-icon></li>

            </ul>

        </div>
        <button mat-button mat-stroked-button color="success" (click)="add.emit(product)" class="btn rounded-pill    shadow mb-5 rounded">
            ADD TO CART
        </button>

    </div>
</div>




   
