<footer class="footer-distributed">
 
  <div class="footer-left">
      <img src="../../../../assets/images/logodiGiuusyy.png">
    <h3>Al carnevale di <span>Giusy</span></h3>

    <p class="footer-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      |
      <a routerLink="/contact" routerLinkActive="active">Chi Siamo</a>
      |
      <a routerLink="/products" routerLinkActive="active">Products</a>
      |
      <a href="#">Saldi</a>
    </p>

    <p class="footer-company-name">Giusy Valeri ti accoglierà con la sua esperienza</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
        <p><span>Piazza Tolosetto Farinati degli Uberti, 14 / Scala B int 2</span>
          00122 Lido di Ostia RM</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+39 333 230 2765</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@giusyvaleri.com">info@giusyvaleri.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>Su di noi</span>
      Siamo forniti di costumi d'epoca e moderni, antica Roma, Egitto, teatro, teatro della scuola, costume, per feste in costume, per Halloween e Babbo Natale.</p>
    <div class="footer-icons">
      <a href="#"><i class="fab fa-whatsapp" style=" color: #25D366; "></i></a>
      <a href="#"><i class="fab fa-facebook" style=" color: #3b5998; "></i></a>
     
      
      <a href="#"><i class="far fa-envelope" style=" color: #ea3651; "></i></a>
    </div>
  </div>
</footer>
