.home
{
	width: 100%;
	height: 134px;
	padding-top: 79px;
	background: #555454;
}
.home_container	
{
	width: 100%;
	height: 100%;
	padding-bottom: 43px;
}
.home_title
{
    text-align: center;
	font-size: 36px;
	color: rgba(255, 255, 255, 0.822);
	font-weight: 600;
	
}
.product-grid {
	padding-bottom: 12px;
  }