/* You can add global styles to this file, and also import other style files */
// body {
//     margin: 0px;
//     padding: 0px;
//   }

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px 10px;
  padding-left: 9px;
  padding-right: 9px;

}

.container {
  width: 100%;
  padding-right: -1px;
  padding-left: -1px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 376px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 40px;
    padding-right: -1px;
    padding-left: -1px;

  }
}
@media (min-width: 411px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 540px;
    padding-left: 7px;
    padding-right: 11px;

  }
}
@media (min-width: 414px) {
  
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px 10px;
      padding-left: 16px;
      padding-right: 21px;
    }
    .container{
      max-width: 540px;
      padding-right: 0px;
      padding-left: 0px;
    }
  
}
@media (min-width: 425px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 540px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 540px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 1110px;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 720px;
  }

}
@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 10px;
    padding-left: 9px;
    padding-right: 9px;
  }
  .container{
    max-width: 960px;
    padding-right: 0px;
    padding-left: 0px;
  }

}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
html, body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: 'Open Sans', ;
  background-color: white;
}
img {
  max-width: 100%;
}
.sidenav {
  top: 0px;
  top: 178px;
  padding-top: -13px;
}
element.style {
  top: 185px;
  bottom: 0px;
  transform: none;
  visibility: visible;
}
